{% extends './layout.njk' %}
{% block content %}
	<p>
		<a href="http://localhost:3333/users">Список пользователей</a>
	</p>
	<p>
		<a href="http://localhost:3333/posts">Список постов</a>
	</p>
{% endblock %}	