{% extends './layout.njk' %}
{% block content %}
	<p><b>Cоздание нового поста</b></p>
	<form action="/posted" method="post">
		<input type="text" name="title" placeholder="Заголовок"><br>
		<textarea name="text" placeholder="Текст"></textarea><br>
		<input type="submit" name="save">
	</form>
	{% for post in posts %}
		<div>{% include './partials/posts.njk' %}</div>
	{% endfor %}

{% endblock %}	